/********************************** DIVS **********************/

.mainContainer {
  /* color: #04ffff; */
  border-radius: 5px;
  box-shadow: 0px 0px 15px 3px #d6cda4;
  width: auto;
  height: 100%;
  margin: 5px 20px;
  max-width: 1000px;
  background-color: #3d8361;
  border: 2px solid #d6cda4;
}

.favoriteContainer {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0, 0);
}

/************************************ ELEMENTS **********************************/

.image {
  width: 75%;
  padding: 1px;
  object-fit: cover;
  margin: 1px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 15px #3d8361;
}

.subtitle {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.card {
  color: #eef2e6;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
