/********************************** DIVS **********************/

.mainContainer {
  border-radius: 5px;
  width: 200px;
  height: 275px;
  margin: 5px 10px;
  max-width: 1000px;
  background-color: #D8D8D8;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.mainContainer:hover {
  top: 1px;
  box-shadow: 0 5px 15px 0 #757575;
  height: 290px;
}

.mainContainer:hover .favButton {
  opacity: 1;
}

.favoriteContainer {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: transparent;
  margin-left: 83px;
}

.divImage {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
  height: 150px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/************************************ ELEMENTS **********************************/

.image {
  width: 75%;
  padding: 1px;
  object-fit: cover;
  margin: 1px;
  border-radius: 5px;
  position: relative;
}

.subtitle {
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 5px;
}

.price {
  margin-top: 5px;
  font-size: 18px;
}
.card {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.favButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin-top: 5px;
  position: absolute;
  left: 93px;
  top: 10px;
  opacity: 0;
  color: #FF1700;
  font-size: 20px;
}

.favButton:hover, .favButton:focus {
  color: #af0c0c;
}
/* .favButton.animate {
  animation: scale-rotate 0.5s ease-in-out;
}

@keyframes scale-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
} */