@font-face {
  font-family: "Raleway";
  src: url("../../Utils/Raleway/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
}

.mainContainer {
  font-family: "Raleway";
  padding-top: 8em;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "productsContainer productsContainer orderSumary"
    ". . orderSumary"
    ". . orderSumary";
  justify-content: space-evenly;
  background-image: url("https://wallpapercrafter.com/desktop/223806-vegan-vegan-cuisine-veggie-and-vegetarian-hd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.productsContainer {
  background-color: #3d8361b4;
  color: azure;
  font-weight: bold;

  display: grid;
  min-height: 130px;
  grid-template-columns: 1fr 1fr 300px 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "imagen imagen nombre qty delete"
    "imagen imagen precio . .";

  grid-area: productsContainer;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(128, 128, 128);
  box-shadow: 0px 0px 8px #3d8361b4;
  border-radius: 20px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.imagen {
  grid-area: imagen;
}

.nombre {
  grid-area: nombre;
}

.precio {
  grid-area: precio;
}

.qty {
  grid-area: qty;
}

.delete {
  height: 4rem;
  grid-area: delete;
}

.btnsQty button {
  font-weight: bold;
  font-size: 1.3rem;
  background: none;
  border: none;
  color: azure;
  font-weight: bold;
}

.btnsQty button:hover {
  cursor: pointer;
}

.btnsQty button:active {
  color: brown;
  transform: scale(1.6);
}

.btn {
  background-color: transparent;
  position: relative;
  border: none;
}

.btn::after {
  content: "delete";
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(168, 7, 7);
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.icon {
  transform: scale(1.2);
  transition: 0.2s linear;
}

.btn:hover > .icon {
  transform: scale(1.5);
}

.btn:hover > .icon path {
  fill: rgb(168, 7, 7);
}

.btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}

.orderSumary {
  color: darkcyan;
  text-shadow: 0px 0px 2px whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titleOrder titleOrder titleOrder"
    "subtotal subtotal subtotal"
    "orderTotal orderTotal orderTotal"
    "btnOrder btnOrder btnOrder";
  grid-area: orderSumary;
  background-color: rgba(236, 235, 169, 0.568);
  box-shadow: 0px 0px 8px #76aa91b4;
  border-radius: 20px;
}

.subtotal {
  grid-area: subtotal;
}

.titleOrder {
  grid-area: titleOrder;
}

.btnOrder {
  grid-area: btnOrder;
}

.orderTotal {
  grid-area: orderTotal;
}

.mount {
  color: darkcyan;
}

.btnGenerate {
  width: 80%;
  height: 3rem;
  border-radius: 5px;
  background-color: #1c6758;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.4rem;
}
.btnGenerate:hover {
  cursor: pointer;
}

.subTittle {
  color: white;
  margin-left: 25em;
  padding-top: 10em;
}
