.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 8em;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "productsContainer productsContainer orderSumary"
    ". . orderSumary"
    ". . orderSumary";
    justify-content: center;

}

.productsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"imagen imagen nombre qty delete"
		"imagen imagen precio . ."
		"imagen imagen . . .";
	grid-area: productsContainer;
	justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

.imagen {
  grid-area: imagen;
}

.nombre {
  grid-area: nombre;
}

.precio {
  grid-area: precio;
}

.qty {
  grid-area: qty;
}

.delete {
  grid-area: delete;
}

.btnDelete {
	background:none;
	border: none;
	height: 2rem;
}
.delete:hover{
	cursor: pointer;
}
.orderSumary {
  color: darkcyan;
  text-shadow: 0px 0px 2px whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titleOrder titleOrder titleOrder"
    "subtotal subtotal subtotal"
    "orderTotal orderTotal orderTotal"
    "btnOrder btnOrder btnOrder";
  grid-area: orderSumary;
  background-color: rgba(236, 235, 169, 0.568);
}

.subtotal {
  grid-area: subtotal;
}

.titleOrder {
  grid-area: titleOrder;
}

.btnOrder {
  grid-area: btnOrder;
}

.orderTotal {
  grid-area: orderTotal;
}

.mount{
  color: darkcyan;
}

.btnGenerate{
  width: 80%;
  height: 3rem;
  border-radius: 5px;
  background-color: #1c6758;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.4rem;
}
.btnGenerate:hover{
  cursor: pointer;
}