/* DIVS */

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #3D8361;
}

.descriptionDiv{
  display: flex;
  flex-direction: column;
}

.divLink {
  display: flex;
  top: 0;
  position: relative;
}

.priceDiv {

}

.alertDiv {

}

/* ELEMENTS */

.image {

}

.p {

}

.spanPrice {

}

.link {

}

.linkBack {
  display: flex;
}

.buttonBack {
  display: flex;
  position: relative;
  
}

.input {

}

.alert {

}
