.mainContainer {
  border-radius: 5px;
  box-shadow: 0px 0px 15px 3px #d6cda4;
  width: auto;
  height: 100%;
  margin: 5px 20px;
  max-width: 1000px;
  background-color: #3d8361;
  border: 2px solid #d6cda4;
}

.card {
  padding-top: 15%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  width: 75%;
  padding: 1px;
  object-fit: cover;
  margin: 1px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 15px #3d8361;
}
