.contenedor {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Configura 6 columnas de tamaño igual */
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  margin: 0;
  padding: 0;
  padding-top: 10em;
}
.cardad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
