.body {
  text-align: center;
  background-color: #d8d8d8;
  margin: 0;
  font-size: medium;
}

.img {
  height: 20em;
  width: 20em;
  border-radius: 15px;
}

.h1 {
  font-size: 120px;
  text-shadow: 1px 1px rgb(0, 0, 0), 1px 1px rgb(13, 5, 25), -3px 0 4px #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #c9dbb2;
  padding: 16px;
  font-weight: lighter;
  text-align: center;
  display: block;
  margin: 16px;
}

.card {
  background: linear-gradient(to right, rgb(223, 244, 146), rgb(35, 81, 107));
  opacity: 100;
  margin: 40px auto;
  max-width: 400px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #a639ff;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc((100% - 30px) / 3);
  margin-bottom: 10px;
  padding: 2em 0;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d6cda4;
  opacity: 95%;
  padding: 2em;
  border: 2px solid #8c00ff;
  border-radius: 15px;
  box-shadow: 0 0 15px #001aff;
  max-width: 90%;
  width: 90%;
  margin: auto;
}
