.carouselContainer {
    position: relative;
    overflow: hidden;
}

.carouselItems {
    display: flex;
    transition: transform 0.5s ease;
}

.productCard {
    flex: 1 0 calc(16.666% - 10px);
    max-width: calc(16.666% - 10px);
    margin: 5px;
    box-sizing: border-box;
}

.carouselControlArrow {
    color: black;
}

.carousel .control-dots .dot {
    background-color: black;
}

.productName {
    color: green;
  }