.container {
  /* padding: 60px 0px 0px 50px;  */
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100%;
  /*   
  padding-top: 0.1em; */

  background-image: url("https://wallpaperaccess.com/full/1812875.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-transform: capitalize;
  color: #eef2e6;
  padding-bottom: 5em;
}

.edit {
  margin-top: 10em;
  padding-top: 6em;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 60px 0px 0px 50px;    */
  border-radius: 0.75em;
  box-shadow: 8px 10px 10px 8px #000000b4;
  width: 40%;
  max-height: 90vh;
  background-color: #d8d8d8;
  color: black;
  text-transform: capitalize;
}

.divFlex {
  display: flex;
}

.h3 {
  display: flex;
  justify-content: flex-start;
}

/* .c {
  margin-top: 1em;
  padding-top: 1em;
  border-radius: 0.75em;
  box-shadow: 9px 13px 13px 3px #0b0d0ca3;
  width: 600px;
  background-color: #d8d8d8;
  height: auto;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: black;
} */

.button:hover,
.buttonEdit:hover {
  transform: scale(1.1);
  color: #000000;
}

.buttonEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 40px 0px 0px 255.5px;
  color: #eef2e6;
  border: transparent;
  border-radius: 15px;
  background-color: #2f2e2e;
  border-radius: 8x;
  box-shadow: 0 0 15px 5px #000000;
  transition: transform 0.4s ease-in-out;
}

/* INPUTS PAREJOS */

.input1,
.input2,
.input3,
.input4,
.input5,
.input6,
.input7 {
  background-color: #ffffff;
  border: transparent;
  color: #000000;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 3em;
  transition: transform 0.3s ease-in-out;
}

.input1:hover,
.input2:hover,
.input3:hover,
.input4:hover,
.input5:hover,
.input6:hover,
.input7:hover {
  transform: scale(1.1);
}

.input1 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 50px;
}

.input2 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 75px;
}

.input3 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 115px;
}

.input4 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 100px;
}

.input5 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 130px;
}

.input6 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 90px;
}

.input7 {
  display: flex;
  width: 250px;
  height: 28px;
  margin-top: 10px;
  margin-left: 50px;
}

.img {
  display: flex;
  width: 350px;
  height: 350px;
  margin: 15px 0px 0px 130px;
}

.input8B {
  display: flex;
  margin-bottom: 2em;
  /* margin: 0px 0px 0px 0px; */
  /* justify-content: center; */
  /* align-items: center; */
}
.divLogin {
  padding-top: 30em;
  width: 100%;
  height: 100vh;
}
