.mainContainer {
    display: flex;
    background-color: rgb(232, 232, 232);
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 3px solid rgb(79, 75, 75);
}
