
/************************************* DIVS ********************************/

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B9C85;
  box-shadow: 0 0 15px #3d8361;
  width: 100%;
  position: fixed;
  padding: 20px;
  margin-top: 0;
  z-index: 999;
}

.divLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 15px;
}

.divMid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirects a {
  color: #F6FFDE;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
.redirects a:hover {
  /* color: rgb(0, 255, 98); */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.divRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 55px;
  color: #F6FFDE;
}

/************************* ELEMENTS *************/

.fontAwesome {
  transition: transform 0.5s;
  color: #F6FFDE;
  font-size: 20px;
}

.fontAwesome:hover {
  transform: scaleX(-1);
}

.tittle {
  color: #F6FFDE;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

/* Estilos del enlace */
.link {
  text-decoration: none;
}

/* Estilos del enlace cuando está desactivado */
.linklogin:link,
.linklogin:visited {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Menu desplegable */

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown .dropbtn {
  color: #F6FFDE;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 20px;
}

.dropdown:hover .dropbtn {
  /* color: rgb(0, 255, 98); */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #1c6758;
  box-shadow: 0 0 15px #3d8361;
  z-index: 1;
  width: 120px;
  font-size: 20px;
}

.dropdownContent a {
  color: #F6FFDE;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdownContent a:hover {
  background-color: #99c4b8;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -70px;
}
