.mainContainer {
  display: grid;
  grid-template-columns: repeat(
    6,
    1fr
  ); /* Configura 6 columnas de tamaño igual */
  gap: 1rem;
  margin: 1rem 0;
  padding: 0;
  background-color: #B6CDBD;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
