.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    margin: 1rem 0;
    padding: 0;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}