.mainContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(
    6,
    1fr
  ); /* Configura 6 columnas de tamaño igual */
  gap: 0.1rem;
  margin: 0;
  margin-right: 4em;
  margin-left: 4em;
  padding: 0;
  border-radius: 40px;
  background-color: rgba(216, 216, 216, 0.3);
  margin-top: 2em;
  /* background-image: url("https://wallpapercrafter.com/desktop/223806-vegan-vegan-cuisine-veggie-and-vegetarian-hd.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */

  /* background-color: #b6cdbd; */
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
